.home-display {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  background-color: #d6d6d6;
  border-radius: 8px;
  padding: 20px;
  padding-left: 40px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h2 {
  padding-left: 30px;
}

.home-display ul {
  list-style: circle;
  padding: 0;
  margin: 0;
}

.home-display li {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}

.home-display h6 {
  margin-top: 20px;
  color: #777;
}
